# Default ignored files
/.idea/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Каталоги сборки
/out/*
build/
toClass/
/target/*
target/

# Настройки IDE
/.idea/
.idea/
*.iml
*.iws

# Логи
*.log

# Файлы, генерируемые ОС
.DS_Store
Thumbs.db
*.user
*.sublime-project
*.sublime-workspace

# Файлы зависимостей
lib/
.gradle/
.mvn/
node_modules/
vendor/

# Конфиденциальные данные
*.env